 <div class="background">
   <div class="card-overlay">
      <div class="login-container row">
        <div class="form-container col-sm-8">
          <h1>Welcome to Register</h1>
          <button class="mat-raised-button" (click)="_authService.GoogleAuth()">
            Sign up with Google
          </button>
          <h5>Or register with your email</h5>
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text"  required />
              <mat-error *ngIf="email?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="email?.hasError('email')">
                Email isn't valid. Please enter a valid email.
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password"  required />
              <mat-error *ngIf="password?.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
            <div class="form-footer">
              <button class="sign-up-btn" [disabled]="form.invalid" mat-raised-button type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="text-container col-sm-4">
          <h1>Hey Stranger</h1>
          <p>
            Already have an awesome account? Go ahead and click the button below to
            sign in!
          </p>
          <button class="sign-up-btn" mat-button routerLink="/features/login">Sign in</button>
        </div>
      
      </div>
    </div>
  </div>

